/* Base */ 
@use "/scss/variable.scss";
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

input, button, textarea, select {
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
	line-height: inherit;
}

a{
    text-decoration: none;
}
body{
	font-family:var( --primary-font);
	color: var(--Neutrals-Neutrals-1, #171923);
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.8rem; /* 140% */
}
