<footer class="footer">
    <div class="container">
        <div class="row gy-5 gy-md-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 col-md-4 col-sm-6 ">
                        <section>
                            <h3 class="footer__title">About us</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="">About us</a>
                                </li>
                                <li class="footer__item">
                                    <a href="">News</a>
                                </li>
                                <li class="footer__item">
                                    <a href="">Support</a>
                                </li>
                                <li class="footer__item">
                                    <a href="">Contact</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-3 col-md-4 col-sm-6 ">
                        <section>
                            <h3 class="footer__title">service</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="">Help Center</a>
                                </li>
                                <li class="footer__item">
                                    <a href="">Privacy Policy </a>
                                </li>
                                <li class="footer__item">
                                    <a href="">How to buy</a>
                                </li>
                                <li class="footer__item">
                                    <a href="">Terms of use</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-3 col-md-4 col-sm-6">
                        <section>
                            <h3 class="footer__title">PAYMENT</h3>
                            <ul class="footer__list">
                                <div class="bank">
                                    <img src="./iamges/img-paypal.png" alt="" />
                                    <img src="./iamges/img-2.png" alt="" />
                                    <img src="./iamges/img-3.png" alt="" />
                                    <img src="./iamges/img-4.png" alt="" />
                                    <img src="./iamges/pic-5.png" alt="" />
                                    <img src="./iamges/pic-6.png" alt="" />
                                </div>
                            </ul>
                        </section>
                    </div>
                    <div class="col-3 col-md-4 col-sm-6">
                        <section>
                            <h3 class="footer__title">FOLLOW US</h3>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <div class="footer__social">
                                        <img
                                            src="./iamges/img-social1.png"
                                            alt=""
                                        />
                                        <a href="">Facebook</a>
                                    </div>
                                </li>
                                <li class="footer__item">
                                    <div class="footer__social">
                                        <img
                                            src="./iamges/img-social2.png"
                                            alt=""
                                        />
                                        <a href="">LinkedIn</a>
                                    </div>
                                </li>
                                <li class="footer__item">
                                    <div class="footer__social">
                                        <img
                                            src="./iamges/img-social3.png"
                                            alt=""
                                        />
                                        <a href="">Instagram</a>
                                    </div>
                                </li>
                                <li class="footer__item">
                                    <div class="footer__social">
                                        <img
                                            src="./iamges/img-social4.png"
                                            alt=""
                                        />
                                        <a href="">Zalo</a>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-md-12">
                        <h3 class="footer__title">COMPANY</h3>
                        <p>
                            Hotline: 0982636800 (Các ngày trong tuần từ 8h đến
                            24h) Email: abcs@gmail.
                        </p>
                    </div>
                    <div class="col-6 col-md-12">
                        <h3 class="footer__title">certification</h3>
                        <div class="footer__images">
                            <img src="./iamges/image 22.png" class="img" alt="">
                            <img src="./iamges/image 23.png" class="img1" alt="">
                            <img src="./iamges/image 24.png" class="img2" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <span>© 2024 by NapThe. All Rights Reserved.</span>
        </div>
    </div>
</footer>
